  <div class="text-center">
<div class="container">
<h1>Editar detalle de orden</h1>

<%= render 'form', detalle_orden: @detalle_orden %>

<%= link_to 'Ver', @detalle_orden %> |
<%= link_to 'Regresar', detalle_ordens_path %>
</div>
</div>