<div class="container"> 

<div class="col-lg-12 text-center">
<h1>Inicio</h1>
        <!--  <h1 class="mt-5"><a href="productos">  Productos -> </a</h1>
          <h1 class="mt-5"><a href="clientes">  Clientes -> </a> </a</h1> -->
          <h1 class="mt-5">Bienvenido  </h1>
          <ul class="list-unstyled">
            <p>CRUD+Bootstrap</p>
            <p class="lead">Profesor: Sergio Octavio Rosales Aguayo </p>
            <p class="lead">Alumno: Juventino Perez Peraza</p>
            <p class="lead">Materia: Infraestructura WEB</p>
          </ul>
        </div>

</div>

