<div class="container"> 

<div class="col-lg-12 text-center">
<h1>Indice de paginas </h1>
          <h1 class="mt-5"><a href="productos">  Productos -> </a</h1>
          <h1 class="mt-5"><a href="clientes">  Clientes -> </a> </a</h1>
          <p class="lead">Paginas</p>
          <ul class="list-unstyled">
            <p>CRUD+Bootstrap</p>
            <li>Juv</li>
          </ul>
        </div>

</div>

